<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--使用factory-method属性指定-->
    <bean id="vipBean" class="com.styyyds.spring6.bean.VipFactory" factory-method="get"/>
<!--    在spring配置文件中指定factory-bean和factory-method-->
    <bean id="orderFactory" class="com.styyyds.spring6.bean.OrderFactory"/>
    <bean id="orderBean" factory-bean="orderFactory" factory-method="get"/>

    <bean id="personBean" class="com.styyyds.spring6.bean.PersonFactoryBean"/>

    <bean id="dateBean" class="com.styyyds.spring6.bean.DateFactoryBean">
        <constructor-arg name="date" value="1900-10-11"/>
    </bean>

    <bean id="studentBean" class="com.styyyds.spring6.bean.Student">
        <property name="birth" ref="dateBean"/>
    </bean>
</beans>